*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color:#aaeff0;
}

#header{
	margin-top: 0;
	background-color:#19898d ;
}



#scan_and_download{
	font-family: 'Epilogue', sans-serif;
font-family: 'Montserrat', sans-serif;
text-align: center;
font-size: 150%;
}

#QR{
	display: block;
	margin: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
  cursor: pointer;
}
