*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	background-color:#aaeff0;
}

#header{
	margin-top: 0;
	background-color:#19898d ;
}



#scan_and_download{
	font-family: 'Epilogue', sans-serif;
font-family: 'Montserrat', sans-serif;
text-align: center;
font-size: 150%;
}

#QR{
	display: block;
	margin: auto;
}

